Frontend/UsuarioWS/src/conf/xml-resources/web-service-references/WS/wsdl/localhost_8084/WebService/WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.services.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.services.co/" name="WS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.services.co/" schemaLocation="http://localhost:8084/WebService/WS?xsd=1" />
</xsd:schema>
</types>
<message name="EliminarUsuario">
<part name="parameters" element="tns:EliminarUsuario" />
</message>
<message name="EliminarUsuarioResponse">
<part name="parameters" element="tns:EliminarUsuarioResponse" />
</message>
<message name="ConsultarUsuario">
<part name="parameters" element="tns:ConsultarUsuario" />
</message>
<message name="ConsultarUsuarioResponse">
<part name="parameters" element="tns:ConsultarUsuarioResponse" />
</message>
<message name="IngresarUsuario">
<part name="parameters" element="tns:IngresarUsuario" />
</message>
<message name="IngresarUsuarioResponse">
<part name="parameters" element="tns:IngresarUsuarioResponse" />
</message>
<message name="BuscarUsuario">
<part name="parameters" element="tns:BuscarUsuario" />
</message>
<message name="BuscarUsuarioResponse">
<part name="parameters" element="tns:BuscarUsuarioResponse" />
</message>
<portType name="WS">
<operation name="EliminarUsuario">
<input wsam:Action="http://webservices.services.co/WS/EliminarUsuarioRequest" message="tns:EliminarUsuario" />
<output wsam:Action="http://webservices.services.co/WS/EliminarUsuarioResponse" message="tns:EliminarUsuarioResponse" />
</operation>
<operation name="ConsultarUsuario">
<input wsam:Action="http://webservices.services.co/WS/ConsultarUsuarioRequest" message="tns:ConsultarUsuario" />
<output wsam:Action="http://webservices.services.co/WS/ConsultarUsuarioResponse" message="tns:ConsultarUsuarioResponse" />
</operation>
<operation name="IngresarUsuario">
<input wsam:Action="http://webservices.services.co/WS/IngresarUsuarioRequest" message="tns:IngresarUsuario" />
<output wsam:Action="http://webservices.services.co/WS/IngresarUsuarioResponse" message="tns:IngresarUsuarioResponse" />
</operation>
<operation name="BuscarUsuario">
<input wsam:Action="http://webservices.services.co/WS/BuscarUsuarioRequest" message="tns:BuscarUsuario" />
<output wsam:Action="http://webservices.services.co/WS/BuscarUsuarioResponse" message="tns:BuscarUsuarioResponse" />
</operation>
</portType>
<binding name="WSPortBinding" type="tns:WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="EliminarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ConsultarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="IngresarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="BuscarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WS">
<port name="WSPort" binding="tns:WSPortBinding">
<soap:address location="http://localhost:8084/WebService/WS" />
</port>
</service>
</definitions>